.bg-dark {
    background-color: #f5f6f8;
}

.progress {
    background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5));
    background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
    background-repeat: repeat-x;
}

.jumbotron {
    color: #fff;
    background-color: #6f5499;
}